/target/
*.xml
LICENSE
lib/shopguiplus.jar
.settings/org.eclipse.m2e.core.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.core.resources.prefs
.settings/fr.kazejiyu.discord.rpc.integration.prefs
.project
.classpath
LICENSE
LICENSE
